@import "../../styles.scss";
$enable-grid-classes: false;
$enable-cssgrid: true;

.menubar-container {
  background-color: rgb(103, 64, 64);
  color: beige;
  line-height: 50px;
  display: flex;
  gap: 10px;
  font-family: $defaultFont;
  text-align: left;
}

#portfolio-help {
  display: none;
}

.menu-item {
  vertical-align: middle;
  padding: 1px 20px;
  font-size: 1.5em;
  color: $defaultBackgroundColor;

  &:hover {
    color: rgb(256, 231, 204);

    #portfolio-help {
      display: block;
    }
  }
}

// Override Bootstrap Specs
.nav-link {
  color: $defaultBackgroundColor;
}

.dropdown-menu {
  padding: 0;
}

.dropdown-item {
  background-color: rgb(103, 64, 64);
  color: $defaultBackgroundColor;
}

* {
  box-sizing: border-box;
}

#page-wrap {
  padding-bottom: 10px;
  padding-top: 10px;
}

.menu-container {
}
