.about-body-container {
  height: 100vh;
  padding: 10px 40px;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr 2fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.about-container-3 {
  padding: 40px;
  background-color: beige;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  gap: 10px;
}

.image-container {
  display: flexbox;
}
