@import "../../styles";

.about-languages-grid {
  @extend .about-basic;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.about-text-right {
  display: flex;
  justify-content: right;
}

.about-text-center {
  display: flex;
  justify-content: center;
}

img {
  width: 30%;
  height: auto;
}

.about-image-right {
  display: flex;
  float: right;
}

.page-container {
  @extend .about-basic;

  display: grid;
  grid-template-columns: 1fr 1fr;
}
