.home-screen-container {
  height: 100vh;
  width: 100%;
  text-align: center;
  color: lightcyan;
  font-family: "EB Garamond";
  font-size: 3em;
  background-repeat: no-repeat;
  background-size: auto;
}

.home-screen-grid {
  display: flex;
  align-items: center;
  font-size: 4vw;
}
