.home-screen-container {
  height: 100vh;
  width: 100%;
  font-family: "EB Garamond";
  background-repeat: no-repeat;
  background-size: auto;
}

.home-screen-grid {
  display: flex;
  align-items: center;
  font-size: 4vw;
}

.logo-image {
  height: auto;
}

.text-center {
  justify-content: center;
  text-align: center;
}

.home-text-container {
  display: flex;
  font-size: 1em;
  gap: 10px;
  color: beige;
}

.smaller-text {
  font-size: .5em;
}