.home-screen-container {
  height: 100vh;
  width: 100%;
  font-family: "EB Garamond";
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url('../../assets/wp2823565-tech-wallpaper.jpg')
  }

.home-screen-grid {
  display: flex;
  align-items: center;
  font-size: 4vw;
}

.logo-image {
  height: auto;
}

.home-text-container {
  display: flex;
  font-size: 2em;
  gap: 10px;
  color: beige;
}

.smaller-text {
  font-size: .5em;
}