form {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid brown;
}

button {
  text-align: center;
}

.whole_container {
  height: 100vh;
}

.contactus-container {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: auto minmax(100px, 700px);
  grid-template-rows: 30px 30px 60px 25px;
  font-size: 1vw;
}

.text-container {
  justify-content: right;
}

.input-container {
  display: flex;
  justify-content: left;
}

input,
textarea {
  width: 100%;
}
