@import "../../styles";

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  font-size: 20px
}

.screen-container {
  @extend .about-basic;

  height: 100vh;
}

.text-header {
  text-align: center;
  font-size: 4vw;
  @media (min-width: 900px) {
    font-size: 3vw;
  }
}

.greeting-text {
  width: 100%;
  font-family: $defaultFont;
  color: highLightTextColor;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 2vw;
}

.contactus-button {
  background-color: $highLightTextColor;
  color: $defaultBackgroundColor;
}

.card-container {
  @media (min-width: 900px) {
    padding: 1px 50px;
  }
  gap: 0.5rem;
  font-size: 1vw;
}

.input-container {
  @media screen and (min-width: 900px) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0.5rem
  }
}

.text-container {
text-align: right;
font-size: 20px
}

input,
textarea {
  width: 100%;
}
