$defaultFont: Gideon Roman;
$defaultBackgroundColor: beige;
$highLightTextColor: rgb(138,51,36);

.text-center {
  justify-content: center;
  text-align: center;
}

.about-basic {
  background-color: $defaultBackgroundColor;
  font-family: $defaultFont;
  font-size: 2.5vw;
  color: $highLightTextColor;
}

.page-container {
  @extend .about-basic;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.text-left {
  font-family: $defaultFont;
  justify-content: left;
  text-align:left;
  font-size: 20px
}

.text-x2 {
  font-size: 20px;
}

.image-caption {
  font-size: 1em;
}
