body {
  display: flex;
  background-color: beige;
  font-family: "Gideon Roman";
}

.text-center {
  justify-content: center;
  align-items: center;
}

.text-container {
  display: flex;
  font-size: 2em;
  gap: 10px;
}

.image-caption {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  gap: 10px;
}
