$defaultFont: Gideon Roman;
$defaultBackgroundColor: beige;
$highLightTextColor: rgb(138, 51, 36);

.text-center {
  justify-content: center;
  text-align: center;
}

.app-display-container {
  font-family: $defaultFont;
  background-color: $defaultBackgroundColor;
  height: auto;
  @media only screen and (min-width: 960px) {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 2fr 2fr;
  }
}

.about-basic {
  background-color: $defaultBackgroundColor;
  font-family: $defaultFont;
  font-size: 2.5vw;
  color: $highLightTextColor;
}

.text-left {
  font-family: $defaultFont;
  justify-content: left;
  text-align: left;
  font-size: 20px;
}

.text-x2 {
  font-size: 20px;
}

.image-caption {
  font-size: 1em;
}
